.post-container {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.main-container {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: row;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}
