.post-detail-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  .post-detail-modal-body {
    display: flex;
    flex-direction: column;
  }
  .post-detail-image {
    box-sizing: border-box;
    padding: 8px 24px;
    width: 70%;
    height: auto;
  }
  .profile-image {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  .profile-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    flex-grow: 1;
    width: 100%;
    border-bottom: 1px solid rgb(223, 223, 223);
  }
  .profile-information {
    display: flex;
    align-items: center;
    flex-grow: 1;
    span {
      margin-left: 8px;
      color: rgb(38, 38, 38);
      cursor: pointer;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .post-detail-modal-body {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 24px;
  }
}
