.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login-container {
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(255, 255, 255);
    .register-container {
      margin: 15px;
      display: flex;
      flex-direction: row;
      font-size: 14px;
      text-align: center;
      p {
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 400;
      }
      a {
        color: rgb(0, 149, 246);
        cursor: pointer;
        font-weight: 600;
      }
    }
    .logo {
      height: 51px;
      margin-top: 36px;
      margin-bottom: 36px;
    }
    .input-field {
      width: 268px;
      height: 38px;
      background-color: rgb(250, 250, 250);
      border: 1px solid rgb(219, 219, 219);
      border-radius: 3px;
      color: rgb(38, 38, 38);
      line-height: 18px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      position: relative;
      margin: 0 40px 6px 40px;
      span {
        cursor: default;
        pointer-events: none;
        color: rgb(142, 142, 142);
        font-size: 12px;
        font-size: 400;
        height: 36px;
        right: 0;
        left: 8px;
        line-height: 36px;
        position: absolute;
        text-align: start;
      }
      input {
        width: 100%;
        padding: 9px 0 7px 8px;
        background-color: rgb(250, 250, 250);
        border: 1px none;
        cursor: text;
        display: block;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        text-align: start;
        text-overflow: ellipsis;
        &:focus {
          outline-style: none;
        }
      }
      input:focus ~ span,
      input:not(:placeholder-shown) ~ span {
        transform-origin: 0 18px;
        transition-duration: 20ms;
        transform: scale(calc(10 / 12)) translateY(-10px);
      }
      input:focus,
      input:not(:placeholder-shown) {
        padding: 14px 0 2px 8px;
        font-size: 12px;
      }
    }
    .login-button {
      width: 268px;
      background-color: rgb(0, 149, 246);
      color: rgb(255, 255, 255);
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0);
      font-weight: 600;
      font-size: 14px;
      padding: 5px 9px;
      margin: 8px 40px;
      border-radius: 3px;
    }
  }
  .break-line {
    width: 268px;
    margin: 10px 40px 18px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      color: rgb(142, 142, 142);
      font-size: 13px;
      font-weight: 600;
      flex-grow: 0;
      margin: 0 18px;
    }
    div {
      display: block;
      height: 1px;
      background-color: rgb(219, 219, 219);
      flex-grow: 1;
      top: 6.3px;
    }
  }
  .error-message {
    margin: 14px 0;
    display: block;
    color: rgb(237, 73, 86);
    font-size: 14px;
    font-weight: 400px;
  }
  .loader {
    display: block;
    color: rgb(38, 38, 38);
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }

  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
        -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
        -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
        -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
        -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
        -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
        -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }

  @keyframes round {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .error-message {
    margin: 14px 0;
    display: block;
    color: rgb(237, 73, 86);
    font-size: 14px;
    font-weight: 400px;
  }

  #shaking {
    animation: shake 0.5s;
  }

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
}
