.explore-page {
  .wrapper {
    margin: 0 115px 30px 115px;
    padding: 24px 20px 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 28px;
    grid-row-gap: 28px;
  }

  @media only screen and (max-width: 1200px) {
    .wrapper {
      margin: 0;
    }
  }
}
