.create-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 18px;
  z-index: 2;
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .modal-content {
    background-color: rgb(255, 255, 255);
    color: rgb(38, 38, 38);
    display: flex;
    flex-direction: column;
    max-height: 800px;
    max-width: 524px;
    min-height: 391px;
    min-width: 348px;
    border-radius: 12px;
    padding-bottom: 24px;
  }
  .modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    padding: 12px 24px;
    margin: 0;
    border-bottom: 1px solid rgb(223, 223, 223);
  }
  .modal-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    img {
      height: 77px;
      width: 96px;
    }
    p {
      font-size: 22px;
      text-align: center;
      display: block;
      font-weight: 300;
      margin: 0;
    }
  }
  button {
    background-color: rgb(0, 149, 246);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    font-weight: 600;
    font-size: 14px;
    padding: 5px 9px;
    margin-top: 24px;
    border-radius: 3px;
  }
  button:disabled {
    background-color: rgb(179, 219, 255);
  }
  .preview-modal-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
    min-height: 391px;
    min-width: 348px;
    width: 100%;
    .preview-image {
      height: auto;
      width: 80%;
      display: block;
    }
    .btn-group {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 8px;
    }
    textarea {
      margin-top: 24px;
      background-color: rgba(0, 0, 0, 0);
      color: rgb(38, 38, 38);
      cursor: text;
      display: block;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      width: 80%;
      height: auto;
      min-height: 168px;
      overflow-wrap: break-word;
      overflow-y: auto;
      overflow-x: auto;
      text-align: start;
      resize: none;
      font-family: inherit;
    }
  }
  .input-field {
    width: 268px;
    height: 38px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    color: rgb(38, 38, 38);
    line-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    margin: 24px 40px 6px 40px;
    span {
      cursor: default;
      pointer-events: none;
      color: rgb(142, 142, 142);
      font-size: 12px;
      font-size: 400;
      height: 36px;
      right: 0;
      left: 8px;
      line-height: 36px;
      position: absolute;
      text-align: start;
    }
    input {
      width: 100%;
      padding: 9px 0 7px 8px;
      background-color: rgb(250, 250, 250);
      border: 1px none;
      cursor: text;
      display: block;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      text-align: start;
      text-overflow: ellipsis;
    }
    input:focus ~ span,
    input:not(:placeholder-shown) ~ span {
      transform-origin: 0 18px;
      transition-duration: 20ms;
      transform: scale(calc(10 / 12)) translateY(-10px);
    }
    input:focus,
    input:not(:placeholder-shown) {
      padding: 14px 0 2px 8px;
      font-size: 12px;
    }
  }
  .error-message {
    margin: 14px 0;
    display: block;
    color: rgb(237, 73, 86);
    font-size: 14px;
    font-weight: 400px;
  }

  #shaking {
    animation: shake 0.5s;
  }

  .wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
  }
  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  .checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards,
      scale 0.3s ease-in-out 0.9s both;
  }
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%,
    100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }
  .loader {
    display: block;
    color: rgb(38, 38, 38);
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }

  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
        -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
        -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
        -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
        -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
        -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
        -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }

  @keyframes round {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
}
